* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #333;
    height: 50px;
    z-index: 1;
    display: flex;
    position: fixed;
}
header img {
    width: 90px;
    padding: 5px 0px 0px 15px;
}
.manu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.manu ul {
    display: flex;
    justify-content: center;
}
.manu li {
    list-style: none;
    margin: 0px 15px;
}
.manu li a {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    font-family: tahoma;
    transition: 0.3s;
}
.manu li a:hover {
    color: #555;
    cursor: pointer;
}





main {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    top: 50px
}

.img {
    width: 100%;
    height: 100%;
    background-image: url(/img/7.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
}

#catalog {
    width: 250px;
    height: 100%;
    background-image: url(/img/catalog.jpeg);
    background-size: cover;
    position: absolute;
    top: 0px;
}

#catalog h2{
    padding: 5% 0% 5% 6%;
}

#catalog li{
    padding: 0% 0% 8% 10%;
}

#catalog li a{
    color: black;
}

#catalog li:hover {
    cursor: pointer;
}

#catalog button{
    padding: 7px;
    margin-left: 6%;
    border-radius: 5px;
    background-color: white;
}

#search{
    width: 70%;
    height: 35px;
    margin: 20% 15% 7% 15%;
    padding: 5px;
    border: 1px solid black;
    font-size: large;
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.9);
    border-radius: 15px;
}

#books {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 250px;
    background-image: url(/img/catalog.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

#booksin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}

.item {
    margin: 50px;
    display: flex;
}

.picture img{
    height: 210px;
    
}

.info {
    width: 155px;
    height: 210px;
    background-color: rgb(233 241 247);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border-radius: 0 15px 15px 0;
}

.info h3{
    font-size: 15px;
    margin: 2px;
}

.info p{
    font-size: 14px;
    margin: 2px;
}

#seeMore{
    width: 100px;
    height: 45px;
    margin: 20px 40% 20px 40%;
    border-radius: 5px;
    cursor: pointer;
    font-family: tahoma;
}


footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    position: relative;
    top: 50px;
}
footer li {
    padding-top: 10px;
    list-style: none;
    font-size: 14px;
}
footer li h1 {
    font-family: tahoma;
    font-size: 20px;
}
.li:hover {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}